cogs/aid/arabic_adult.pdf
cogs/aid/arabic_allergic.pdf
cogs/aid/arabic_asthma.pdf
cogs/aid/arabic_bleeding.pdf
cogs/aid/arabic_burns.pdf
cogs/aid/arabic_cold.pdf
cogs/aid/arabic_concussion.pdf
cogs/aid/arabic_diabetic.pdf
cogs/aid/arabic_DRSABCD_A4_poster.pdf
cogs/aid/arabic_electric.pdf
cogs/aid/arabic_epileptic.pdf
cogs/aid/arabic_eye.pdf
cogs/aid/arabic_febrileconvulsions.pdf
cogs/aid/arabic_fractures.pdf
cogs/aid/arabic_heat.pdf
cogs/aid/arabic_infant.pdf
cogs/aid/arabic_poison.pdf
cogs/aid/arabic_shock.pdf
cogs/aid/arabic_snakebite.pdf
cogs/aid/arabic_spider.pdf
cogs/aid/arabic_spinal.pdf
cogs/aid/arabic_sprains.pdf
cogs/aid/arabic_stroke.pdf
cogs/aid/arabic_table.pdf
cogs/aid/chinese_anaphylaxis.pdf
cogs/aid/chinese_asthma.pdf
cogs/aid/chinese_bitesandstings.pdf
cogs/aid/chinese_bleeding.pdf
cogs/aid/chinese_burns.pdf
cogs/aid/chinese_chokingadult.pdf
cogs/aid/chinese_chokinginfant.pdf
cogs/aid/chinese_cold.pdf
cogs/aid/chinese_diabetic.pdf
cogs/aid/chinese_DRSABCD.pdf
cogs/aid/chinese_electricshock.pdf
cogs/aid/chinese_epileptic.pdf
cogs/aid/chinese_eyes.pdf
cogs/aid/chinese_fractures.pdf
cogs/aid/chinese_heartattack.pdf
cogs/aid/chinese_heat.pdf
cogs/aid/chinese_infantileconvulsions.pdf
cogs/aid/chinese_poison.pdf
cogs/aid/chinese_shock.pdf
cogs/aid/chinese_snakebite.pdf
cogs/aid/chinese_spiderbites.pdf
cogs/aid/chinese_spinal_injury.pdf
cogs/aid/chinese_sprainsstrains.pdf
cogs/aid/chinese_stroke.pdf
cogs/aid/english_anaphylaxis.pdf
cogs/aid/english_asthma.pdf
cogs/aid/english_bat_bite.pdf
cogs/aid/english_bites_and_stings.pdf
cogs/aid/english_burn_or_scald.pdf
cogs/aid/english_choking_adult.pdf
cogs/aid/english_choking_infant.pdf
cogs/aid/english_concussion.pdf
cogs/aid/english_COVID-19.pdf
cogs/aid/english_CPR_adult.pdf
cogs/aid/english_CPR_infants.pdf
cogs/aid/english_diabetes.pdf
cogs/aid/english_DRSABCD.pdf
cogs/aid/english_electric_shock.pdf
cogs/aid/english_epileptic_seizure.pdf
cogs/aid/english_fainting.pdf
cogs/aid/english_febrile_convulsion.pdf
cogs/aid/english_first_aid_kit.pdf
cogs/aid/english_fracture_and_dislocation.pdf
cogs/aid/english_frost_bite.pdf
cogs/aid/english_handrub.pdf
cogs/aid/english_handwashing.pdf
cogs/aid/english_heart_attack.pdf
cogs/aid/english_heat-induced.pdf
cogs/aid/english_Home_quarantine_plan.pdf
cogs/aid/english_hypothermia.pdf
cogs/aid/english_nose_bleed.pdf
cogs/aid/english_poisoning.pdf
cogs/aid/english_recovery_position.pdf
cogs/aid/english_severe_bleeding.pdf
cogs/aid/english_shock.pdf
cogs/aid/english_smoke_or_embers_in_eyes.pdf
cogs/aid/english_snake_bite.pdf
cogs/aid/english_spider_bites.pdf
cogs/aid/english_spinal_and_neck_injury.pdf
cogs/aid/english_sprain_and_strain.pdf
cogs/aid/english_stroke.pdf
cogs/aid/greek_adult.pdf
cogs/aid/greek_allergic.pdf
cogs/aid/greek_asthma.pdf
cogs/aid/greek_bleeding.pdf
cogs/aid/greek_burns.pdf
cogs/aid/greek_cold.pdf
cogs/aid/greek_concussion.pdf
cogs/aid/Greek_cpr.pdf
cogs/aid/greek_diabetic.pdf
cogs/aid/greek_DRSABCD_A4_poster.pdf
cogs/aid/greek_electric.pdf
cogs/aid/greek_epileptic.pdf
cogs/aid/greek_eye.pdf
cogs/aid/greek_febrileconvulsions.pdf
cogs/aid/greek_fractures.pdf
cogs/aid/greek_heat.pdf
cogs/aid/greek_infant.pdf
cogs/aid/greek_poison.pdf
cogs/aid/greek_shock.pdf
cogs/aid/greek_snakebite.pdf
cogs/aid/greek_spider.pdf
cogs/aid/greek_spinal.pdf
cogs/aid/greek_sprains.pdf
cogs/aid/greek_stroke.pdf
cogs/aid/greek_table.pdf
cogs/aid/international_emergency_numbers.csv
cogs/aid/italian_adult.pdf
cogs/aid/italian_allergic.pdf
cogs/aid/italian_asthma.pdf
cogs/aid/italian_bleeding.pdf
cogs/aid/italian_burns.pdf
cogs/aid/italian_cold.pdf
cogs/aid/italian_concussion.pdf
cogs/aid/italian_diabetic.pdf
cogs/aid/italian_DRSABCD_A4_poster.pdf
cogs/aid/italian_electric.pdf
cogs/aid/italian_epileptic.pdf
cogs/aid/italian_eye.pdf
cogs/aid/italian_febrileconvulsions.pdf
cogs/aid/italian_fractures.pdf
cogs/aid/italian_heat.pdf
cogs/aid/italian_infant.pdf
cogs/aid/italian_poison.pdf
cogs/aid/italian_shock.pdf
cogs/aid/italian_snakebite.pdf
cogs/aid/italian_spider.pdf
cogs/aid/italian_spinal.pdf
cogs/aid/italian_sprains.pdf
cogs/aid/italian_stroke.pdf
cogs/aid/italian_table.pdf
cogs/aid/vietnamese_adult.pdf
cogs/aid/vietnamese_allergic.pdf
cogs/aid/vietnamese_asthma.pdf
cogs/aid/vietnamese_bleeding.pdf
cogs/aid/vietnamese_burns.pdf
cogs/aid/vietnamese_cold.pdf
cogs/aid/vietnamese_concussion.pdf
cogs/aid/vietnamese_diabetic.pdf
cogs/aid/vietnamese_DRSABCD_A4_poster.pdf
cogs/aid/vietnamese_electric.pdf
cogs/aid/vietnamese_epileptic.pdf
cogs/aid/vietnamese_eye.pdf
cogs/aid/vietnamese_febrileconvulsions.pdf
cogs/aid/vietnamese_fractures.pdf
cogs/aid/vietnamese_heat.pdf
cogs/aid/vietnamese_infant.pdf
cogs/aid/vietnamese_poison.pdf
cogs/aid/vietnamese_shock.pdf
cogs/aid/vietnamese_snakebite.pdf
cogs/aid/vietnamese_spider.pdf
cogs/aid/vietnamese_spinal.pdf
cogs/aid/vietnamese_sprains.pdf
cogs/aid/vietnamese_stroke.pdf
cogs/aid/vietnamese_table.pdf
nohup.output
nohup.out
discord.log
.env
cogs/comments.csv
cogs/Emergency_numbers.json
